.panda-bg-info {
    background-color:  #FEEAE9;
}

.btn-buy-now {
    color: white;
    width: 168px;
    height: 52px;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}